.col-xs-12.col-sm-3
	h3.tab-content_h3
		img.center-block(src="img/icons/flatUI.png")
.col-xs-12.col-sm-5
	h3.tab-content_h3
		| We all want to eat what is best for ourselves, in situations where a specific food 
		| products doesn't fit your standards, Alternative Finder will surely help you out!
	h3.tab-content_h3
		| By our category and tag system, our database will instantly find an alternative product within the same category group or close relations.