.col-xs-12.col-sm-3
	h3.tab-content_h3
		img.center-block(src="img/icons/flatUI.png")
.col-xs-12.col-sm-5
	h3.tab-content_h3
		| Scan the barcode of both your favorite and new products and get information on allergies, nutritional facts and much more.
	h3.tab-content_h3
		| If your product doesn't match your requirements? Alternative Finder will find a suitable product for you.
