.col-xs-12.col-sm-3
	h3.tab-content_h3
		| Wullapyk
.col-xs-12.col-sm-5
	h3.tab-content_h3
		| We can help you find the right diet or assist you with an already chosen diet.
	h3.tab-content_h3
		| You can filter out 15.000 recipes from our database with your diet and explore the perfect dishes.
	h3.tab-content_h3
		| And we will guide you through the right nutrition consumption and more if your diet requires so.