.col-xs-12.col-sm-5
	h3.tab-content_h3
		| Youly is meant for the whole family, all your friends and the people you care about.
	h3.tab-content_h3
		| With the 
		u Family Friendly
		| &nbsp;feature, you can share your food habits, recipes, grocery list and more.
	h3.tab-content_h3
		| We love to make your shopping experience easier! :)
.col-xs-12.col-sm-3
	h3.tab-content_h3
		img.center-block(src="img/icons/flatUI.png")