.col-xs-12.col-sm-5
	h3.tab-content_h3
		| On food labeling, nutritional and other information is mostly shown pr 100g or cl.
	h3.tab-content_h3
		| Our algorithm will make it easier for you to track nutritional information on each piece or serving
	h3.tab-content_h3
.col-xs-12.col-sm-3
	h3.tab-content_h3
		img.center-block(src="img/icons/flatUI.png")