doctype html
html(lang="en")
	head
		include meta
		title="Youly | About"
		include style
	
	body
		include header
		.container-fluid.yly-about_us-bg-team
			.container
				span It's always about service!

		.container-fluid.segment.yly-about_us-manage-team
			.container
				.col-xs-12
					h2.segment-heading.yly-c-youly.text-center Management Team

				.col-xs-12.col-sm-4.text-center
					.row
						img.center-block.img-circle(src="img/team/hanus.png")
					.row
						h4 Hanus á Bøgarði
						i.text-center CFO and Co-founder&nbsp;
						span.about_cnt_info.glyphicon.glyphicon-chevron-down(data-toggle="dropdown", style="cursor: pointer;")
						ul.dropdown-menu.dropdown_about_cnt(role="menu", aria-labelledby="dLabel")
							li.text-center Chief Financial Officer
							li.divider
							li
								.glyphicon.glyphicon-phone
								span(style="margin-left: 20px;") (+298) 28 99 77
							li
								.glyphicon.glyphicon-envelope
								span(style="margin-left: 20px;")
									a(href="mailto:hanus@youly.dk", target="_top") hanus@youly.dk

				.col-xs-12.col-sm-4.text-center
					.row
						img.center-block.img-circle(src="img/team/ian.png")
					.row
						h4 Ian Thomasen Jacobsen
						i.text-center CTO and Co-founder&nbsp;
						span.about_cnt_info.glyphicon.glyphicon-chevron-down(data-toggle="dropdown", style="cursor: pointer;")
						ul.dropdown-menu.dropdown_about_cnt(role="menu", aria-labelledby="dLabel")
							li.text-center Chief Technical Officer
							li.divider
							li
								.glyphicon.glyphicon-phone
								span(style="margin-left: 20px;") (+298) 28 90 46
							li
								.glyphicon.glyphicon-envelope
								span(style="margin-left: 20px;")
									a(href="mailto:ian@youly.dk", target="_top") ian@youly.dk

				.col-xs-12.col-sm-4.text-center
					.row
						img.center-block.img-circle(src="img/team/tummas.png")
					.row
						h4 Tummas Jóhan Sigvardsen
						i.text-center CEO and Co-founder&nbsp;
						span.about_cnt_info.glyphicon.glyphicon-chevron-down(data-toggle="dropdown", style="cursor: pointer;")
						ul.dropdown-menu.dropdown_about_cnt(role="menu", aria-labelledby="dLabel")
							li.text-center Chief Executive Officer
							li.divider
							li
								.glyphicon.glyphicon-phone
								span(style="margin-left: 20px;") (+298) 24 33 42
							li
								.glyphicon.glyphicon-envelope
								span(style="margin-left: 20px;")
									a(href="mailto:tummas@youly.dk", target="_top") tummas@youly.dk

		.container-fluid.segment.bg_sky
			.container
				.col-xs-12
					h2.segment-heading.yly-c-youly.text-center The Youly Story
				.col-xs-12.col-sm-4
					h4.yly-c-3c
						span(style="font-size: 50px;") &lsquo;&lsquo;
						| Our story began when... lorem ipsum semper, a ultricies mauris fermentum. Pellentesque aliquet nisi&nbsp;
						| quis blandit convallis. Integer euismod massa at iaculis commodo. Vivamus eleifend bibendum lacinia. Sed consequat nec felis id fermentum
						br
						span.pull-right(style="font-size: 40px;") &rsquo;&rsquo;
					h5 - Tummas J. Sigvardsen
				.col-xs-12.col-sm-6.col-sm-offset-2
					#carousel_about_us.carousel.slide(data-ride="carousel", style="margin-top: 30px;")
						ol.carousel-indicators
							li.active(data-target="#carousel_about_us", data-slide-to="0")
							li(data-target="#carousel_about_us", data-slide-to="1")
							li(data-target="#carousel_about_us", data-slide-to="2")
						.carousel-inner
							.item.carousel-item.active
								img(src="img/office/office1.jpg", width="100%", height="auto")
							.item.carousel-item
								img(src="img/office/office2.jpg", width="100%", height="auto")
							.item.carousel-item
								img(src="img/office/office3.jpg", width="100%", height="auto")


		.container-fluid.segment
			.container
				.col-xs-12
					h2.segment-heading.yly-c-youly.text-center Partners
				.col-xs-12.col-sm-3.yly-about_us-prt
					img.center-block(src="img/partners/iverksetarahusid.png", width="100%;", data-toggle="modal", data-target="#modal_is")
					.modal.fade#modal_is(tabindex="-1" role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
						.modal-dialog
							.modal-content
								.modal-header
									button.close(type="button", data-dismiss="modal")
										span(aria-hidden="true") &times;
										span.sr-only Close
									h4 &Iacute;verksetarah&uacute;si&eth;
								.modal-body(style="text-align: justify;")
									p Our local 
										u "House of Innovation"
										| &nbsp;lacinia. Sed consequat nec felis id fermentum. Class aptent taciti sociosqu ad litora torquent 
										| per conubia nostra, per inceptos himenaeos. Donec a enim aliquam, molestie nunc pulvinar, 
										| malesuada dolor. Maecenas magna urna, ornare at laoreet vitae, pellentesque ac libero. 
										| Suspendisse potenti. Pellentesque quis velit ipsum. Sed tincidunt metus enim, et pellentesque 
									p
										br
										| Visit their 
										a(href="http://www.is.fo/", title="Íverksetarahúsið", target="_blank") website



				.col-xs-12.col-sm-3.yly-about_us-prt
					img.center-block(src="img/partners/miklagardur.jpg", width="100%;", data-toggle="modal", data-target="#modal_sms")
					.modal.fade#modal_sms(tabindex="-1" role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
						.modal-dialog
							.modal-content
								.modal-header
									button.close(type="button", data-dismiss="modal")
										span(aria-hidden="true") &times;
										span.sr-only Close
									h4 Miklagar&eth;ur
								.modal-body(style="text-align: justify;")
									p 
										| Miklagar&eth;ur is one of our famous places for grocery shopping, great quality with reasonable prices.
									p
										| per conubia nostra, per inceptos himenaeos. Donec a enim aliquam, molestie nunc pulvinar, 
										| malesuada dolor. Maecenas magna urna, ornare at laoreet vitae, pellentesque ac libero. 
										| Suspendisse potenti. Pellentesque quis velit ipsum. Sed tincidunt metus enim, et pellentesque 
									p
										br
										| Visit their 
										a(href="http://www.sms.fo/Default.aspx?ID=31&Action=1&NewsId=18&M=NewsV2&PID=29", title="Miklagarður", target="_blank") website



				.col-xs-12.col-sm-3.yly-about_us-prt
					img.center-block(src="img/partners/ph.png", width="100%;", data-toggle="modal", data-target="#modal_ph")
					.modal.fade#modal_ph(tabindex="-1" role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
						.modal-dialog
							.modal-content
								.modal-header
									button.close(type="button", data-dismiss="modal")
										span(aria-hidden="true") &times;
										span.sr-only Close
									h4 Poul Hansen
								.modal-body(style="text-align: justify;")
									p 
										| Poul Hansen is the largest wholesaler operating in the Faroe Islands, with approximately 75 working on a daily basis. 
										| As a family runned business with over 80 years of experience in food delivery and quality ensurance Poul Hansen has a wide product range of quality brands.
									p
										| per conubia nostra, per inceptos himenaeos. Donec a enim aliquam, molestie nunc pulvinar, 
										| malesuada dolor. Maecenas magna urna, ornare at laoreet vitae, pellentesque ac libero. 
										| Suspendisse potenti. Pellentesque quis velit ipsum. Sed tincidunt metus enim, et pellentesque 
									p
										br
										| Visit their 
										a(href="http://www.ph.fo/", title="Poul Hansen", target="_blank") website



				.col-xs-12.col-sm-3.yly-about_us-prt
					img.center-block(src="img/partners/miklagardur.jpg", width="100%;", data-toggle="modal", data-target="#modal_sms")
					.modal.fade#modal_sms(tabindex="-1" role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
						.modal-dialog
							.modal-content
								.modal-header
									button.close(type="button", data-dismiss="modal")
										span(aria-hidden="true") &times;
										span.sr-only Close
									h4 Miklagar&eth;ur
								.modal-body
									p 
										| Miklagar&eth;ur is one of our famous places for grocery shopping, great quality with reasonable prices.
									p
										| per conubia nostra, per inceptos himenaeos. Donec a enim aliquam, molestie nunc pulvinar, 
										| malesuada dolor. Maecenas magna urna, ornare at laoreet vitae, pellentesque ac libero. 
										| Suspendisse potenti. Pellentesque quis velit ipsum. Sed tincidunt metus enim, et pellentesque 
									p
										br
										| Visit their 
										a(href="http://www.sms.fo/Default.aspx?ID=31&Action=1&NewsId=18&M=NewsV2&PID=29", title="Miklagarður", target="_blank") website


		include nav_buttom
		include footer
		include script
		script.
			$('.carousel-item').height(300)
			$('#carousel_about_us').css('border', '2px solid #3c3c3c');
			$('.carousel-indicators').css('bottom', '-10px');

			$('.about_cnt_info').css('margin-left', '5px')
			$('.about_cnt_info').css('top', '3px')

			$('.dropdown_about_cnt').css('width', '80%');
			$('.dropdown_about_cnt').css('left', '10%');
			$('.dropdown_about_cnt').css('text-align', 'left')
			$('.dropdown_about_cnt').css('padding', '20px');