doctype html		
html(lang="en")
	head
		include meta
		title="Youly | About"
		include style
	
	body
		include header
		.container-fluid.yly-about_us-bg-team
			.container
				span It's always about service!

		.container-fluid.segment.yly-about_us-manage-team
			.container
				.col-xs-12
					h2.segment-heading.yly-c-youly.text-center Management Team

				.col-xs-12.col-sm-4.text-center
					.row
						img.center-block.img-circle(src="img/team/hanus.png")
					.row
						h4 Hanus á Bøgarði
						i.text-center CFO and Co-founder
				.col-xs-12.col-sm-4.text-center
					.row
						img.center-block.img-circle(src="img/team/ian.png")
					.row
						h4 Ian Thomasen Jacobsen
						i.text-center CTO and Co-founder
				.col-xs-12.col-sm-4.text-center
					.row
						img.center-block.img-circle(src="img/team/tummas.png")
					.row
						h4 Tummas Jóhan Sigvardsen
						i.text-center CEO and Co-founder


		.container-fluid.segment.bg_sky
			.container
				.col-xs-12
					h2.segment-heading.yly-c-youly.text-center The Youly Story
				.col-xs-12.col-sm-4
					h4.yly-c-3c
						span(style="font-size: 40px;") &lsquo;&lsquo;
						| Our story began when... lorem ipsum semper, a ultricies mauris fermentum. Pellentesque aliquet nisi&nbsp;
						| quis blandit convallis. Integer euismod massa at iaculis commodo. Vivamus eleifend bibendum lacinia. Sed consequat nec felis id fermentum
						br
						span.pull-right(style="font-size: 40px;") &rsquo;&rsquo;
					h5 - Tummas J. Sigvardsen


		.container-fluid.segment
			.container.yly-about_us-manage-team
				.col-xs-12
					h2.segment-heading.yly-c-youly.text-center Partners
				.col-xs-12.col-sm-4.col-md-2.col-md-offset-1
					img.center-block(src="img/partners/1worldsync.png", width="100%;")
				.col-xs-12.col-sm-4.col-md-2
					img.center-block(src="img/partners/brand_bank.jpg", width="100%;")
				.col-xs-12.col-sm-4.col-md-2
					img.center-block(src="img/partners/miklagardur.jpg", width="100%;")
				.col-xs-12.col-sm-4.col-md-2
					img.center-block(src="img/partners/poul_hansen.png", width="100%;")
				.col-xs-12.col-sm-4.col-md-2
					img.center-block(src="img/partners/super_gros.jpg", width="100%;")


		include nav_buttom
		include footer
		include script