doctype html		
html(lang="en")
	head
		include meta
		title="Youly | Blog"
		include style
		style.
	body(data-spy="scroll" data-target=".vertical-right-navbar")
		.yly-b-bottom
			include header
		.container-fluid
			.container
				.col-xs-12.col-sm-9
					- each blog in blogs
						include blog_item
				.hidden-xs.col-sm-3.yly-m-t
					.col-xs-12
						.vertical-affix
							include blog_right

		.yly-b-top
			include nav_buttom
		include footer
		include script