doctype html		
html(lang="en")
	head
		include meta
		title="Youly | Blog"
		include style
	
	body(onload="load()")
		include header
		.container-fluid.yly-m-t
			.container.yly-m-t
				.col-xs-12.col-sm-9#blog_item-wrapper
					- each blog in blogs
						include blog_item
				.hidden-xs.col-sm-3
					.vertical-affix
						include blog_right
		include nav_buttom
		include footer
		include script
