.row
	.col-xs-12
		img.img-responsive(src="img/office/office4.png", width="100%")
	.col-xs-12
		br
		| Once upon a time, there was a lot of lorem ipsum. and that I shall explain to you Once upon a time, there was a lot of lorem ipsum. 
		| and that I shall explain to you Once upon a time, there was a lot of lorem ipsum. and that I shall explain to you Once upon a time, 
		| there was a lot of lorem ipsum. and that I shall explain to you Once upon a time, there was a lot of lorem ipsum. and that I shall 
		| explain to you Once upon a time, there was a lot of lorem ipsum. and that I shall explain to you Once upon a time, there was a lot 
		| of lorem ipsum. and that I shall explain to you Once upon a time, there was a lot of lorem ipsum. and that I shall explain to you 
		| Once upon a time, there was a lot of lorem ipsum. and that I shall explain to you
		br
		br
.row
	.col-xs-6
		| Once upon a time, there was a lot of lorem ipsum. and that I shall explain to you Once upon a time, there was a lot of lorem ipsum. 
		| and that I shall explain to you Once upon a time, there was a lot of lorem ipsum. and that I shall explain to you Once upon a time, 
		| there was a lot of lorem ipsum. and that I shall explain to you Once upon a time, there was a lot of lorem ipsum. and that I shall 
		br
	.col-xs-6
		img.img-circle.img-responsive(src="img/office/office3.jpg", width="100%")
.row
	.col-xs-12
		br
		| Once upon a time, there was a lot of lorem ipsum. and that I shall explain to you Once upon a time, there was a lot of lorem ipsum. 
		| and that I shall explain to you Once upon a time, there was a lot of lorem ipsum. and that I shall explain to you Once upon a time, 
		| there was a lot of lorem ipsum. and that I shall explain to you Once upon a time, there was a lot of lorem ipsum. and that I shall 
		| explain to you Once upon a time, there was a lot of lorem ipsum. and that I shall explain to you Once upon a time, there was a lot 
		| of lorem ipsum. and that I shall explain to you Once upon a time, there was a lot of lorem ipsum. and that I shall explain to you 
		| Once upon a time, there was a lot of lorem ipsum. and that I shall explain to you 