<!-- Footer for SM or higher only -->
.container-fluid.yly_footer
	.container
		.row
			.col-sm-3.col-md-2.hidden-xs
				.yly_foorer-logo
					a(href="/")
						img(src="img/branding/youly_text_white_shadow.png")

			.col-xs-12.col-sm-3.col-sm-offset-1
				h4.hidden-xs(style="margin-bottom: 15px;") LEARN MORE
				h4.visible-xs
					apan(href="#nav-collapse22", data-toggle="collapse", data-target="#nav-collapse22") LEARN MORE
					span.pull-right.glyphicon.glyphicon-chevron-down.c_fff(data-toggle="collapse", data-target="#nav-collapse22", style="cursor: pointer;")
				.collapse.navbar-collapse#nav-collapse22.yly_footer-list(style="padding-left: 0px")
					include footer_list_learn_more

			.col-xs-12.col-sm-4
				h4.hidden-xs(style="margin-bottom: 15px;") GET IN TOUCH
				h4.visible-xs
					span(href="#nav-collapse23", data-toggle="collapse", data-target="#nav-collapse23") GET IN TOUCH
					span.pull-right.glyphicon.glyphicon-chevron-down.c_fff(data-toggle="collapse", data-target="#nav-collapse23", style="cursor: pointer;")
				.collapse.navbar-collapse#nav-collapse23.yly_footer-list(style="padding-left: 0px")
					include footer_list_get_in_touch

.container-fluid(style="background-color: #3c3c3c; color: #646464;")
	.container(style="margin: 15px auto; padding-top: 15px;")
		p &copy; 2014 Youly, Sp/f. All rights reserved.