ul.list-unstyled
	li
		a(href="#") Facebook
	li
		a(href="#") Twitter
	li
		a(href="#") Google Plus
	if page == "blog"
		li
			a(href="/blog", id="nav_btn-active") Blog
	else
		li
			a(href="/blog") Blog
	li
		a(href="#") Contact us (email)