<!-- Footer for SM or higher only -->
.container-fluid.yly_footer
	.container
		.row
			.col-sm-3.col-md-2.hidden-xs
				.yly_foorer-logo
					a(href="/")
						img(src="img/branding/youly_text_white_shadow.png")

			.col-xs-12.col-sm-3.col-sm-offset-1
				h4.hidden-xs(style="margin-bottom: 15px;") LEARN MORE
				h4.visible-xs
					apan(href="#yly_footer_collapse_1", data-toggle="collapse", data-target="#yly_footer_collapse_1") LEARN MORE
					span.pull-right.glyphicon.glyphicon-chevron-down.c_fff(data-toggle="collapse", data-target="#yly_footer_collapse_1", style="cursor: pointer;")
				.collapse.navbar-collapse#yly_footer_collapse_1(style="padding-left: 0px;")
					.yly_footer_li_sm
						include footer_list_learn_more

			.col-xs-12.col-sm-4
				h4.hidden-xs(style="margin-bottom: 15px;") GET IN TOUCH
				h4.visible-xs
					span(href="#yly_head_collapse_2", data-toggle="collapse", data-target="#yly_head_collapse_2") GET IN TOUCH
					span.pull-right.glyphicon.glyphicon-chevron-down.c_fff(data-toggle="collapse", data-target="#yly_head_collapse_2", style="cursor: pointer;")
				.collapse.navbar-collapse#yly_head_collapse_2(style="padding-left: 0px;")
					.yly_footer_li_sm
						include footer_list_get_in_touch

.container-fluid.yly_footer_copyright
	.container
		p.yly_footer_copyright_p &copy; 2014 Youly, Sp/f. All rights reserved.