.container-fluid.visible-xs.yly_footer(style="margin-top: 30px;")
	.col-xs-12
		ul.list-unstyled
			li
				span.navbar-toggle.glyphicon.glyphicon-chevron-down(type="button", data-toggle="collapse", data-target="#nav-collapse22", style="margin-top: -5px;")
				h3
					a(href="#nav-collapse22", data-toggle="collapse", data-target="#nav-collapse22") COMPANY
				.collapse.navbar-collapse#nav-collapse22
					ul.nav.navbar-nav(style="font-weight: bold;")
						li
							a(href="#") Team
						li
							a(href="#") Careers
						li
							a(href="#") Events
						li
							a(href="#") Press
						li
							a(href="#") Contacts
						li
							a(href="#") Policy
						li
							a(href="#") Terms &amp; Conditions


			li
				span.navbar-toggle.glyphicon.glyphicon-chevron-down(type="button", data-toggle="collapse", data-target="#nav-collapse23", style="margin-top: -5px;")
				h3
					a(href="#nav-collapse23", data-toggle="collapse", data-target="#nav-collapse23") YOULY
				.collapse.navbar-collapse#nav-collapse23
					ul.nav.navbar-nav(style="font-weight: bold;")
						li
							a(href="#yly-content-tabs-xs" onclick='sendToTab("#yly-content-tabs-download-xs");') Download
						li
							a(href="#yly-content-tabs-xs" onclick='sendToTab("#yly-content-tabs-features-xs");') Features
						li
							a(href="#yly-content-tabs-xs" onclick='sendToTab("#yly-content-tabs-services-xs");') Services
						li
							a(href="#yly-content-tabs-xs" onclick='sendToTab("#yly-content-tabs-privacy-xs");') Privacy Policy


			li
				span.navbar-toggle.glyphicon.glyphicon-chevron-down(type="button", data-toggle="collapse", data-target="#nav-collapse24", style="margin-top: -5px;")
				h3
					a(href="#nav-collapse24", data-toggle="collapse", data-target="#nav-collapse24") GET IN TOUCH
				.collapse.navbar-collapse#nav-collapse24
					ul.nav.navbar-nav(style="font-weight: bold;")
						li
							a(href="#") Facebook
						li
							a(href="#") LinkedIn
						li
							a(href="#") Google+
						li
							a(href="#") Twitter
						li
							i Sign in for newsletters:
							.input-group.input-group-lg
								.input-group-addon @
								input.form-control(type="text", placeholder="Email address", style="width: 100%;")


			li
				span.navbar-toggle.glyphicon.glyphicon-chevron-down(type="button", data-toggle="collapse", data-target="#nav-collapse25", style="margin-top: -5px;")
				h3
					a(href="#nav-collapse25", data-toggle="collapse", data-target="#nav-collapse25") LANGUAGE
				.collapse.navbar-collapse#nav-collapse25
					ul.nav.navbar-nav(style="font-weight: bold;")
						li
							a(href="#") English
						li
							a(href="#") Dansk
						li
							a(href="#") Norsk
						li
							a(href="#") Svenska
						li
							a(href="#") Fran&ccedil;ais
						li
							a(href="#") Deutsch
include footer