<!-- index_tabs_services SM or higher -->
.hidden-xs
	.container-fluid.bg_youly
		.container
			p .hidden-xs
			p Services





<!-- index_tabs_services XS only -->
.visible-xs
	.container-fluid.bg_youly
		.container
			p .visible-xs
			p Services