<!-- index_tabs_data SM or higher -->
.hidden-xs
	.container-fluid(style="background-color: #e4e9f0; padding-top: 40px; padding-bottom: 30px;")
		.container.index-tabs-data
			.col-xs-12
				h3.text-center(style="margin: 15px;") Out Data Source
			.col-xs-4.data-line-v
				.row
					.col-xs-12
						.data-img-top
							img#data_agr.center-block(src="img/index/tabs/dta/agr.png", data-toggle="dropdown", onmouseover="agr_on()", onmouseout="agr_off()")
							img#data_agr_hvr.center-block(src="img/index/tabs/dta/agr_hvr.png", data-toggle="dropdown")
							div.dropdown-menu.data_dropdown(role="menu", aria-labelledby="dLabel", style="width: 300%;")
								.row
									.col-xs-10
										h3.data_dropdown_h Aggregators
									.col-xs-2
										button.close(type="button", onclick="data_close()") &times;
					.col-xs-12
						h4#data-agr-h4 Aggregators
			.col-xs-4.data-line-v
				.row
					.col-xs-12
						.data-img-top
							img#data_bnd.center-block(src="img/index/tabs/dta/bnd.png", data-toggle="dropdown", onmouseover="bnd_on()", onmouseout="bnd_off()")
							img#data_bnd_hvr.center-block(src="img/index/tabs/dta/bnd_hvr.png", data-toggle="dropdown")
							div.dropdown-menu.data_dropdown(role="menu", aria-labelledby="dLabel", style="width: 300%; margin-left: -100%;")
								.row
									.col-xs-10
										h3.data_dropdown_h Brand Owners
									.col-xs-2
										button.close(type="button", onclick="data_close()") &times;
					.col-xs-12
						h4#data-bnd-h4 Brand Owners
			.col-xs-4.data-line-v
				.row
					.col-xs-12
						.data-img-top
							img#data_ctb.center-block(src="img/index/tabs/dta/ctb.png", data-toggle="dropdown", onmouseover="ctb_on()", onmouseout="ctb_off()")
							img#data_ctb_hvr.center-block(src="img/index/tabs/dta/ctb_hvr.png", data-toggle="dropdown")
							div.dropdown-menu.data_dropdown(role="menu", aria-labelledby="dLabel", style="width: 300%; margin-left: -200%;")
								.row
									.col-xs-10
										h3.data_dropdown_h Contributors
									.col-xs-2
										button.close(type="button", onclick="data_close()") &times;
					.col-xs-12
						h4#data-ctb-h4 Contributors
			.col-xs-8.col-xs-offset-2(style="border-top: 2px dashed #3faea4;")

		.container.index_tabs_data
			.col-xs-4
				h3.text-center(style="margin-top: 120px;")
			.col-xs-4.data-line-v
				.row
					.col-xs-12
						h4 &nbsp;
				.row
					.col-xs-12.data-img
						h4
							img.center-block(src="img/branding/youly_text_green_shadow.png" style="width: 60%;")


<!-- index_tabs_data XS only -->
.visible-xs
	.container-fluid.bg_youly
		.container
			p .visible-xs
			p data

script.
	function agr_off() {
		setTimeout(function() {
			$('#data_agr_hvr').css("display", "none");
			$('#data-agr-h4').text("Aggregators")
		}, 300);
	}
	function agr_on() {
		$('#data_agr_hvr').css("display", "block");
		$('#data-agr-h4').text("Click - And learn more")
	}

	function bnd_off() {
		setTimeout(function() {
			$('#data_bnd_hvr').css("display", "none");
			$('#data-bnd-h4').text("Brand Owners")
		}, 300);
	}
	function bnd_on() {
		$('#data_bnd_hvr').css("display", "block");
		$('#data-bnd-h4').text("Click - And learn more")
	}

	function ctb_off() {
		setTimeout(function() {
			$('#data_ctb_hvr').css("display", "none");
			$('#data-ctb-h4').text("Contributors")
		}, 300);
	}
	function ctb_on() {
		$('#data_ctb_hvr').css("display", "block");
		$('#data-ctb-h4').text("Click - And learn more")
	}
