.container-fluid
	.row
		ul.nav.nav-tabs#yly-content-tabs
			li.active
				.arrow
				a.text-center(href="#yly-content-tabs-download", data-toggle="tab")
					h3.hidden-xs Download
					h6.visible-xs Download
					h6
						img(src="img/icons/arrow_down.png", width="22px", height="22px")
			li
				.arrow
				a.text-center(href="#yly-content-tabs-features", data-toggle="tab")
					h3.hidden-xs Features
					h6.visible-xs Features
					h6
						img(src="img/icons/check.png", width="22px", height="22px")
			li
				.arrow
				a.text-center(href="#yly-content-tabs-users", data-toggle="tab")
					h3.hidden-xs Users
					h6.visible-xs Users
					h6
						img(src="img/icons/users.png", width="22px", height="22px")
			li
				.arrow
				a.text-center(href="#yly-content-tabs-data", data-toggle="tab")
					h3.hidden-xs Data
					h6.visible-xs Data
					h6
						img(src="img/icons/data.png", width="22px", height="22px")

.container-fluid(style="margin-top: 1px; min-height: 10px;")
	.row
		.tab-content
			.tab-pane.active#yly-content-tabs-download
				include index_tabs_download
			.tab-pane#yly-content-tabs-features
				include index_tabs_features
			.tab-pane#yly-content-tabs-users
				include index_tabs_users
			.tab-pane#yly-content-tabs-data
				include index_tabs_data