<!-- index_tabs_data SM or higher -->
.hidden-xs
	.container-fluid(style="background-color: #e4e9f0; padding-top: 40px;")
		.container.index-tabs-data
			.col-xs-4.data-line-v
				h1.data_gs1 &nbsp;
				h4 GS1
			.col-xs-4.data-line-v
				h1.data_gs1
				h4 Brand Bank
			.col-xs-4.data-line-v
				h1.data_gs1
				h4 Contributors
		.container
			.col-xs-offset-2.col-xs-8
				h1(style="border-top: 2px dashed #e4e9f0;") &nbsp;



<!-- index_tabs_data XS only -->
.visible-xs
	.container-fluid.bg_youly
		.container
			p .visible-xs
			p data