<!-- index_tabs_users SM or higher -->
.hidden-xs
	.container-fluid.tabs_yly
		.tabs-right
			ul.nav.nav-tabs
				li.active
					a(href="#tab_use_all", data-toggle="tab") Allergies
				li
					a(href="#tab_use_veg", data-toggle="tab") Veggies
				li
					a(href="#tab_use_mus", data-toggle="tab") customize


			.tab-content(style="padding-top: 60px;")
				.tab-pane.active#tab_use_all
					include users/allergies
				.tab-pane#tab_use_veg 
					include users/veggies
				.tab-pane#tab_use_mus 
					include users/customize


<!-- index_tabs_features XS only -->
.visible-xs
	.container-fluid(style="padding: 40px 0px; background-color: #e4e9f0;")
		.text-center
			div
				.col-xs-12(style="margin-top: 30px;")
					h2 Allergies
				include users/allergies
			div
				.col-xs-12(style="margin-top: 30px;")
					h2 Veggies
				include users/veggies
			div
				.col-xs-12(style="margin-top: 30px;")
					h2 customize
				include users/customize
