.container-fluid(style="background-color: #2a2a2a; color: #fff;")
	.container(style="margin: 40px auto; ")
		h2.text-center "Best health app on the App Store..!"
		p.text-center -SirSwagAlot
		p.text-center
			span.glyphicon.glyphicon-star
			span.glyphicon.glyphicon-star
			span.glyphicon.glyphicon-star
			span.glyphicon.glyphicon-star
			span.glyphicon.glyphicon-star-empty