<!-- index_tabs_users SM or higher -->
.hidden-xs
	.container-fluid.tabs_yly
		.tabs-right
			ul.nav.nav-tabs
				li.active
					a(href="#tab_use_all", data-toggle="tab") Allergies
				li
					a(href="#tab_use_veg", data-toggle="tab") Veggies
				li
					a(href="#tab_use_mus", data-toggle="tab") customize


			.tab-content(style="padding-top: 60px;")
				.tab-pane.active#tab_use_all
					include users/allergies
				.tab-pane#tab_use_veg 
					include users/veggies
				.tab-pane#tab_use_mus 
					include users/customize


<!-- index_tabs_features XS only -->
.visible-xs
	.container-fluid(style="background-color: #e4e9f0;")
		.row.text-center
			.col-xs-12.tab-content-xs
				h2 Allergies
				include users/allergies
			.col-xs-12.tab-content-xs.bg_fff
				h2 Veggies
				include users/veggies
			.col-xs-12.tab-content-xs
				h2 customize
				include users/customize
