<!-- index_tabs_privacy SM or higher -->
.hidden-xs
	.container-fluid.bg_youly
		.container
			p .hidden-xs
			p Privacy





<!-- index_tabs_privacy XS only -->
.visible-xs
	.container-fluid.bg_youly
		.container
			p .visible-xs
			p Privacy