<!-- index_tabs_download SM or higher -->
.hidden-xs
	.container-fluid(style="background-color: #076B62;")
		.container(style="margin: 60px auto 90px auto;")
			.col-xs-12.col-sm-4
				img.center-block(src="img/electronics/galaxys4.png", style="")
			.col-xs-12.col-sm-4
				img.center-block(src="img/electronics/windowsphone.png", style="")
			.col-xs-12.col-sm-4
				img.center-block(src="img/electronics/iphone.png", style="")

	.container-fluid(style="background-color: #fff;")
		.container.index-tabs-dl-sm
			.col-xs-12.col-sm-4
				a.download-btn.rounded.center-block#android-btn(href="#")
					span.d-btn-icon
					.btn-text
						| Download
					small On Google Play
					span.slide-down-icon
			.col-xs-12.col-sm-4
				a.download-btn.rounded.center-block#window-btn(href="#")
					span.a-btn-icon 
					.btn-text.center-block
						| Download
					small on Windows Store
					span.slide-down-icon
			.col-xs-12.col-sm-4
				a.download-btn.rounded.center-block#app-btn(href="#")
					span.c-btn-icon
					.btn-text
						| Download
					small on App Store
					span.slide-down-icon


		.container(style="margin: 20px auto 0px auto;")
			.col-sm-12.hidden-xs
				h1.text-center.yly-c-youly
					span(style="font-weight: 300") Scan the code or click the button,
					span(style="font-weight: 400") Youly is free!


		.container(style="margin: 50px auto;")
			.col-xs-12.col-sm-4
				.col-sm-10.col-sm-offset-1
					img.center-block(src="img/tech/qr_android.png")
			.col-xs-12.col-sm-4
				.col-sm-10.col-sm-offset-1
					img.center-block(src="img/tech/qr_windows.png")
			.col-xs-12.col-sm-4
				.col-sm-10.col-sm-offset-1
					img.center-block(src="img/tech/qr_ios.png")


<!-- index_tabs_download XS only -->

.container-fluid.visible-xs(style="background-color: #076B62;")
	.container(style="margin-top: 90px;")
		.col-xs-12.col-sm-4
			a.download-btn.rounded.center-block#android-btn(href="#")
				span.d-btn-icon
				.btn-text
					| Download
				small On Google Play
				span.slide-down-icon
			span(style="line-height: 25px;")
				| &nbsp;
		.col-xs-12.col-sm-4
			a.download-btn.rounded.center-block#window-btn(href="#")
				span.a-btn-icon
				.btn-text.center-block
					| Download
				small on Windows Store
				span.slide-down-icon
			span(style="line-height: 25px;")
				| &nbsp;
		.col-xs-12.col-sm-4
			a.download-btn.rounded.center-block#app-btn(href="#")
				span.c-btn-icon
				.btn-text
					| Download
				small on App Store
				span.slide-down-icon

include index_best_app