<!-- index_tabs_download SM or higher -->
.hidden-xs
	.container-fluid.bg_youly
		.container(style="margin: 60px auto 90px auto;")
			.col-xs-12.col-sm-4
				.col-sm-10.col-sm-offset-1
					img(src="img/electronics/iPhone.png", style="width: 100%")
					a(href="#")
						.yly-download-btn.yly-download-btn-android
							span
								h2 Download
								p 
									b on Play Store
			.col-xs-12.col-sm-4
				.col-sm-10.col-sm-offset-1
					img(src="img/electronics/iPhone.png", style="width: 100%")
					a(href="#")
						.yly-download-btn.yly-download-btn-windows
							span
								h2 Download
								p 
									b on Windows Store
			.col-xs-12.col-sm-4
				.col-sm-10.col-sm-offset-1
					img(src="img/electronics/iPhone.png", style="width: 100%")

					a(href="#")
						.yly-download-btn.yly-download-btn-iOS
							span
								h2 Download
								p 
									b on The App Store



	.container-fluid(style="background-color: #fff;")
		.container(style="margin: 30px auto;")
			.col-sm-12.hidden-xs
				h2.text-center.color-youly.yly-c-youly
					i Scan the code or click the button,
					b  Youly is free!
		.container(style="margin: 30px auto;")
			.col-xs-12.col-sm-4
				.col-sm-10.col-sm-offset-1
					img.center-block(src="img/tech/qr.png", style="width: 60%")
			.col-xs-12.col-sm-4
				.col-sm-10.col-sm-offset-1
					img.center-block(src="img/tech/qr.png", style="width: 60%")
			.col-xs-12.col-sm-4
				.col-sm-10.col-sm-offset-1
					img.center-block(src="img/tech/qr.png", style="width: 60%")





ss<!-- index_tabs_download XS only -->
.visible-xs
	.container-fluid.bg_youly
		.container
			p .visible-xs
			p Download