<!-- index_tabs_features SM or higher -->
.hidden-xs
	.container-fluid.bg_youly
		.container
			p .hidden-xs
			p Features





<!-- index_tabs_features XS only -->
.visible-xs
	.container-fluid.bg_youly
		.container
			p .visible-xs
			p Features