style.
	#yly-content-tabs span {
		height: 22px;
		width: 100%;
		display: block;
	}
	.tabs_bg {
		background-repeat: no-repeat;
		background-size: 20px 20px;
		background-attachment: relative;
		background-position: center top;
	}
	.tabs_bg_arw_b { background-image: url("img/icons/arrow_down.png"); }
	.tabs_bg_arw_g { background-image: url("img/icons/arrow_down_green.png"); }
	.tabs_bg_cek_b { background-image: url("img/icons/check.png"); }
	.tabs_bg_cek_g { background-image: url("img/icons/check_green.png"); }
	.tabs_bg_usr_b { background-image: url("img/icons/users.png"); }
	.tabs_bg_usr_g { background-image: url("img/icons/users_green.png"); }
	.tabs_bg_dta_b { background-image: url("img/icons/data.png"); }
	.tabs_bg_dta_g { background-image: url("img/icons/data_green.png"); }

.container-fluid
	.row
		ul.nav.nav-tabs#yly-content-tabs
			li.active
				.arrow
				a.text-center(href="#yly-content-tabs-download", data-toggle="tab" onclick="tab_clk('#tab_1')")
					h3.hidden-xs.deerip Download
					h6.visible-xs.deerip Download
					span.tabs_bg#tab_1(data-on="tabs_bg_arw_g", data-off="tabs_bg_arw_b")
						| &nbsp;
			li
				.arrow
				a.text-center(href="#yly-content-tabs-features", data-toggle="tab" onclick="tab_clk('#tab_2')")
					h3.hidden-xs Features
					h6.visible-xs Features
					span.tabs_bg#tab_2(data-on="tabs_bg_arw_g", data-off="tabs_bg_arw_b")
						| &nbsp;
			li
				.arrow
				a.text-center(href="#yly-content-tabs-users", data-toggle="tab" onclick="tab_clk('#tab_3')")
					h3.hidden-xs Users
					h6.visible-xs Users
					span.tabs_bg#tab_3(data-on="tabs_bg_arw_g", data-off="tabs_bg_arw_b")
						| &nbsp;
			li
				.arrow
				a.text-center(href="#yly-content-tabs-data", data-toggle="tab" onclick="tab_clk('#tab_')")
					h3.hidden-xs Data
					h6.visible-xs Data
					span.tabs_bg#tab_4(data-on="tabs_bg_arw_g", data-off="tabs_bg_arw_b")
						| &nbsp;

.container-fluid(style="margin-top: 1px; min-height: 10px;")
	.row
		.tab-content
			.tab-pane.active#yly-content-tabs-download
				include index_tabs_download
			.tab-pane#yly-content-tabs-features
				include index_tabs_features
			.tab-pane#yly-content-tabs-users
				include index_tabs_users
			.tab-pane#yly-content-tabs-data
				include index_tabs_data

script.
	function tabs() {
		$("#yly-content-tabs > li").find("span").each(function(i, e) {
			var on = $(this).attr("data-on");
			var off = $(this).attr("data-off");
			console.log(on);
			console.log(off);
			$(this).removeClass(on);
			$(this).addClass(off);
		});

		$("#yly-content-tabs > li.active").find("span").each(function(i, e) {
			var on = $(this).attr("data-on");
			var off = $(this).attr("data-off");
			console.log(on);
			console.log(off);
			$(this).removeClass(off);
			$(this).addClass(on);
		});
	};

	function tab_clk(id) {
		var el = $(id);
		var on = el.attr("data-on");
		var off = el.attr("data-off");
		console.log(on);
		console.log(off);
		el.removeClass(off);
		el.addClass(on);
	}