if page == "home"
	li
		a(href="/", id="nav_btn-active") HOME
else
	li
		a(href="/") HOME

if page == "about"
	li
		a(href="/about", id="nav_btn-active") ABOUT US
else
	li
		a(href="/about") ABOUT US

if page == "blog"
	li
		a(href="/blog", id="nav_btn-active") BLOG
else
	li
		a(href="/blog") BLOG

if page == "contact"
	li
		a(href="/contact", id="nav_btn-active") CONTACT
else
	li
		a(href="/contact") CONTACT