nav.navbar.navbar-default.hidden-xs(role="navigation", style="background-color: #fff; border: 0 none; margin: 15px auto;")
	.container
		.col-xs-8
			ul.nav.navbar-nav.navbar-left
				include nav_btn
		.col-xs-4.yly-nav-buttom.text-right
			a(href="#facebook")
				img(src="/img/social/social_facebook.png")
			a(href="#")
				img(src="/img/social/social_linked_in.png")
			a(href="#")
				img(src="/img/social/social_pluss.png")
			a(href="#")
				img(src="/img/social/social_twitter.png")