.container-fluid
	.container
		nav.navbar.navbar-default.yly-nav-buttom.hidden-xs
			.col-xs-8
				ul.nav.navbar-nav.navbar-left
					include nav_btn
			.col-xs-4.text-right
				a(href="#facebook")
					img(src="/img/social/facebook_round.png")
				a(href="#")
					img(src="/img/social/pluss_round.png")
				a(href="#")
					img(src="/img/social/twitter_round.png")