.container
	.col-xs-12
		h1.center-block Pressroom
		hr
.container
	.col-xs-12.col-sm-5
		h3.yly-c-youly Press contacts
		h5 Press dude name
		span.glyphicon.glyphicon-envelope
		span(style="margin-left: 20px;") 
			a(href="press@youly.dk") press@youly.dk
		br
		span.glyphicon.glyphicon-phone
		span(style="margin-left: 20px;") (+298) 24 33 42
		br
		br
		span(style="margin-left: 35px;") L&uuml;tzenstr&oslash;&eth; 4
		br
		span(style="margin-left: 35px;") 100 T&oslash;rshavn
		br
		span(style="margin-left: 35px;") The Faroe Islands
	.col-xs-12.col-sm-7
		.row
			.col-xs-12
				h3.yly-c-youly Direct email:
			.col-xs-12
				.input-group
					.input-group-addon @
					input.form-control(type="text", placeholder="Email...", style="width: 70%;")
			.col-xs-12
				.input-group(style="margin-top: 10px;")
					.input-group-addon
						span.glyphicon.glyphicon-user
					input.form-control(type="text", placeholder="First name...", style="width: 70%;")
			.col-xs-12
				.input-group(style="margin-top: 10px;")
					.input-group-addon
						span.glyphicon.glyphicon-user
					input.form-control(type="text", placeholder="Last name...", style="width: 70%;")
				.input-group(style="margin-top: 10px;")
					.input-group-addon
						span.glyphicon.glyphicon-phone
					input.form-control(type="text", placeholder="Phone...", style="width: 70%;")
				.input-group(style="margin-top: 10px;")
					.input-group-addon
						span.glyphicon.glyphicon-home
					input.form-control(type="text", placeholder="Company...", style="width: 70%;")
				textarea.form-control(rows="3", placeholder="Write something...", style="max-width: 72%; margin-top: 10px;")
				.btn-group(style="margin-top: 10px;")
					button.btn.btn-primary(type="button") Send!
.container
	.col-xs-12
		h3.yly-c-youly(style="margin-top: 120px;") Logo
		hr
	.col-xs-12.col-sm-6.col-md-4
		img(src="img/branding/youly_logo.png", style="width: 100%;", title="w: 821px - h: 348px")
		h3
			span.pull-right
				a(href="img/branding/youly_logo.png", title="Download", download="youly_logo.png", style="color: #3a3a3a;")
					span.glyphicon.glyphicon-download
				a(href="img/branding/youly_logo.png", title="Full screen" target="_blank", style="color: #3a3a3a;")
					span.glyphicon.glyphicon-fullscreen(style="margin-left: 20px;")
	.col-xs-12.col-sm-6.col-md-4
		img(src="img/branding/youly_text_white_shadow.png", style="width: 100%;", title="w: 821px - h: 348px")
		h3
			span.pull-right
				a(href="img/branding/youly_text_white_shadow.png", title="Download", download="youly_text_white_shadow.png", style="color: #3a3a3a;")
					span.glyphicon.glyphicon-download
				a(href="img/branding/youly_text_white_shadow.png", title="Full screen" target="_blank", style="color: #3a3a3a;")
					span.glyphicon.glyphicon-fullscreen(style="margin-left: 20px;")
	.col-xs-12.col-sm-6.col-md-4
		img(src="img/branding/youly_green_bg.png", style="width: 100%;", title="w: 821px - h: 348px")
		h3
			span.pull-right
				a(href="img/branding/youly_green_bg.png", title="Download", download="youly_green_bg.png", style="color: #3a3a3a;")
					span.glyphicon.glyphicon-download
				a(href="img/branding/youly_green_bg.png", title="Full screen" target="_blank", style="color: #3a3a3a;")
					span.glyphicon.glyphicon-fullscreen(style="margin-left: 20px;")