doctype html		
html(lang="en")
	head
		include meta
		title="Privacy Policy . Youly"
		include style
		link(rel="icon", href="img/branding/favicon.ico" type="image/x-icon")
	
	body
		include header
		.container-fluid.bg_eee.yly-m-b
			.container
				.col-xs-12.col-sm-5.yly-info-list-head
					h2 Youly Privacy Policy
					p
						| Integer eget odio sit amet eros pharetra venenatis. Quis blandit convallis. Integer euismod massa at iaculis 
						| commodo. Aenean nulla eros, imperdiet at interdum ut, accumsan vitae libero. Curabitur eu nunc vel elit egestas 
						| interdum vel eget elit. Sed vitae venenatis velit
						br
						br
						| If you have any questions or comments about this Privacy Policy, please contact us at 
						a(href="privacy@youly.dk") privacy@youly.dk
					p
						b Last updated: May 28, 2014
		.container-fluid
			.container
				.col-xs-12
					ul.list-unstyled.yly-info-list
						li 
							.row
								h4.col-xs-12.col-sm-5 General Information
								p.col-xs-12.col-sm-7
									| Donec tristique leo in ipsum semper, a ultricies mauris fermentum. Pellentesque aliquet 
									| nisi quis blandit convallis. Integer euismod massa at iaculis commodo. Vivamus eleifend bibendum 
									| lacinia. Sed consequat nec felis id fermentum. Class aptent taciti sociosqu ad litora torquent 
									| per conubia nostra, per inceptos himenaeos. Donec a enim aliquam, molestie nunc pulvinar, 
									| malesuada dolor. Maecenas magna urna, ornare at laoreet vitae, pellentesque ac libero. 
									| Suspendisse potenti. Pellentesque quis velit ipsum. Sed tincidunt metus enim, et pellentesque 
									| ipsum varius vel. Proin vel felis purus. Proin non nibh nulla. Pellentesque eu quam lectus. 
									| Fusce urna ipsum, tempor vitae elit a, tempor eleifend lorem.
									br
									br
									| Pellentesque id nibh nisi. Nullam sed aliquet sapien. Vestibulum non elementum turpis, 
									| eget volutpat mi. Maecenas hendrerit, leo nec consequat suscipit, lorem turpis egestas 
									| purus, elementum volutpat mauris ante condimentum nulla. Proin eu nibh eu felis semper 
									| convallis quis vel sapien. Praesent gravida purus nec nulla ultricies pharetra. Quisque 
									| dignissim nulla ut velit luctus venenatis. Suspendisse potenti. 
						li 
							.row
								h4.col-xs-12.col-sm-5 Information Gathering and Usage
								p.col-xs-12.col-sm-7 
									| Pellentesque id nibh nisi. Nullam sed aliquet sapien. Vestibulum non elementum turpis, 
									| eget volutpat mi. Maecenas hendrerit, leo nec consequat suscipit, lorem turpis egestas 
									| purus, elementum volutpat mauris ante condimentum nulla. Proin eu nibh eu felis semper 
									| convallis quis vel sapien. Praesent gravida purus nec nulla ultricies pharetra. Quisque 
									| dignissim nulla ut velit luctus venenatis. Suspendisse potenti.
						li 
							.row
								h4.col-xs-12.col-sm-5 Cookies Our Policy Towards Children
								p.col-xs-12.col-sm-7 
									| per conubia nostra, per inceptos himenaeos. Donec a enim aliquam, molestie nunc pulvinar, 
									| malesuada dolor. Maecenas magna urna, ornare at laoreet vitae, pellentesque ac libero. 
									| Suspendisse potenti. Pellentesque quis velit ipsum. Sed tincidunt metus enim, et pellentesque 
									| ipsum varius vel. Proin vel felis purus. Proin non nibh nulla. Pellentesque eu quam lectus. 
									| Fusce urna ipsum, tempor vitae elit a, tempor eleifend lorem.
									| eget volutpat mi. Maecenas hendrerit, leo nec consequat suscipit, lorem turpis egestas 
									| purus, elementum volutpat mauris ante condimentum nulla. Proin eu nibh eu felis semper
						li 
							.row
								h4.col-xs-12.col-sm-5 Our Policy Towards Children
								p.col-xs-12.col-sm-7
									| per conubia nostra, per inceptos himenaeos. Donec a enim aliquam, molestie nunc pulvinar, 
									| malesuada dolor. Maecenas magna urna, ornare at laoreet vitae, pellentesque ac libero. 
									| Suspendisse potenti. Pellentesque quis velit ipsum. Sed tincidunt metus enim, et pellentesque 
									| ipsum varius vel. Proin vel felis purus. Proin non nibh nulla. Pellentesque eu quam lectus. 
									| Fusce urna ipsum, tempor vitae elit a, tempor eleifend lorem.
									br
									br
									| Pellentesque id nibh nisi. Nullam sed aliquet sapien. Vestibulum non elementum turpis, 
									| eget volutpat mi. Maecenas hendrerit, leo nec consequat suscipit, lorem turpis egestas 
									| purus, elementum volutpat mauris ante condimentum nulla. Proin eu nibh eu felis semper 
		include nav_buttom
		include footer
		include script