script(type='text/javascript' src='//code.jquery.com/jquery-1.11.0.min.js')
script(type='text/javascript' src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
script(type='text/javascript' src='//maps.googleapis.com/maps/api/js?sensor=false')

script(type='text/javascript' src='js/search.property.js')
script(type='text/javascript' src='js/modernizr.js')
script(type='text/javascript' src='js/youly.js')