.container
	.col-xs-12.col-sm-9
		.row
			.col-xs-12.col-sm-8
				h3 Tummas J&oacute;hann Sigvardsen
				p
					i(title="Chief Executive Officer") - CEO
				p
					span.glyphicon.glyphicon-phone
					span(style="margin-left: 20px;") (+298) 24 33 42
					br
					span.glyphicon.glyphicon-envelope
					span(style="margin-left: 20px;") tummas@youly.dk
				textarea.form-control(rows="3", placeholder="Any inquiry? Don't hassitate to ask...", style="max-width: 100%;")
			.col-xs-12.col-sm-4.hidden-xs
				img(src="img/team/tummas.png", style="width: 100%;")
		.row.yly-b-top
			.col-xs-12.col-sm-4.hidden-xs
				img(src="img/team/ian.png", style="width: 100%;")
			.col-xs-12.col-sm-8
				h3 Ian thomassen Jacobsen
				p
					i(title="Chief Technical Officer") - CTO
				p
					span.glyphicon.glyphicon-phone
					span(style="margin-left: 20px;") (+298) 28 90 46
					br
					span.glyphicon.glyphicon-envelope
					span(style="margin-left: 20px;") ian@youly.dk
				textarea.form-control(rows="3", placeholder="Feel free to contact me!...", style="max-width: 100%;")
		.row.yly-b-top
			.col-xs-12.col-sm-8
				h3 Hanus &aacute; B&oslash;gar&eth;i
				p
					i(title="Chief Executive Officer") - CFO
				p
					span.glyphicon.glyphicon-phone
					span(style="margin-left: 20px;") (+298) 28 99 77
					br
					span.glyphicon.glyphicon-envelope
					span(style="margin-left: 20px;") hanus@youly.dk
				textarea.form-control(rows="3", placeholder="Contact me at any time	", style="max-width: 100%;")
			.col-xs-12.col-sm-4.hidden-xs
				img(src="img/team/hanus.png", style="width: 100%;")
	.col-xs-12.col-sm-3.yly-b-left
		h3 Join our team!
		p.
			Are you interesting to work with a growing company expanding lorem ipsum lorem ipsum, maybe a little bit more lorem ipsum
		p
			| We are currently looking for a 
			b Java developer
		p contact us for further lorem ipsum, lorem ipsum
.container.yly-b-top(style="margin-bottom: 30px;		")
	.col-xs-12
		h3.yly-c-youly.text-center External network 
		h5.text-center 
			i Network, it means the world to us!
	.col-xs-12.col-sm-6.col-md-3
		span.visible-xs
			hr
		img.center-block.hidden-xs(src="img/team/profile_image.png", style="width: 70%;")
		span.center-block(style="width: 70%;")
			b Persons name
			br
			i Neutritions assistance
	.col-xs-12.col-sm-6.col-md-3
		span.visible-xs
			hr
		img.center-block.hidden-xs(src="img/team/profile_image.png", style="width: 70%;")
		span.center-block(style="width: 70%;")
			b Persons name
			br
			i Neutritions assistance
	.col-xs-12.col-sm-6.col-md-3
		span.visible-xs
			hr
		img.center-block.hidden-xs(src="img/team/profile_image.png", style="width: 70%;")
		span.center-block(style="width: 70%;")
			b Persons name
			br
			i Neutritions assistance
	.col-xs-12.col-sm-6.col-md-3
		span.visible-xs
			hr
		img.center-block.hidden-xs(src="img/team/profile_image.png", style="width: 70%;")
		span.center-block(style="width: 70%;")
			b Persons name
			br
			i Neutritions assistance