doctype html		
html(lang="en")
	head
		include meta
		title="Terms and Conditions . Youly"
		include style
		link(rel="icon", href="img/branding/favicon.ico" type="image/x-icon")
	
	body
		include header
		.container-fluid.bg_eee.yly-m-b 
			.container
				.col-xs-12.col-sm-5.yly-info-list-head
					h2 Youly Terms and Conditions
					p
						| Integer eget odio sit amet eros pharetra venenatis. Quis blandit convallis. Integer euismod massa at iaculis 
						| commodo. Aenean nulla eros, imperdiet at interdum ut, accumsan vitae libero. Curabitur eu nunc vel elit egestas 
						| interdum vel eget elit. Sed vitae venenatis velit
					p
						b Last updated: May 28, 2014
		.container-fluid
			.container
				.col-xs-12
					ul.list-unstyled.yly-info-list
						li 
							.row
								h4.col-xs-12.col-sm-5 Acceptance of Terms and Conditions
								p.col-xs-12.col-sm-7
									| Donec tristique leo in ipsum semper, a ultricies mauris fermentum. Pellentesque aliquet 
									| nisi quis blandit convallis. Integer euismod massa at iaculis commodo. Vivamus eleifend bibendum 
									| lacinia. Sed consequat nec felis id fermentum. Class aptent taciti sociosqu ad litora torquent 
									| per conubia nostra, per inceptos himenaeos. Donec a enim aliquam, molestie nunc pulvinar, 
									| malesuada dolor. Maecenas magna urna, ornare at laoreet vitae, pellentesque ac libero. 
									| Suspendisse potenti. Pellentesque quis velit ipsum. Sed tincidunt metus enim, et pellentesque 
									| ipsum varius vel. Proin vel felis purus. Proin non nibh nulla. Pellentesque eu quam lectus. 
									| Fusce urna ipsum, tempor vitae elit a, tempor eleifend lorem.
									br
									br
									| Pellentesque id nibh nisi. Nullam sed aliquet sapien. Vestibulum non elementum turpis, 
									| eget volutpat mi. Maecenas hendrerit, leo nec consequat suscipit, lorem turpis egestas 
									| purus, elementum volutpat mauris ante condimentum nulla. Proin eu nibh eu felis semper 
									| convallis quis vel sapien. Praesent gravida purus nec nulla ultricies pharetra. Quisque 
									| dignissim nulla ut velit luctus venenatis. Suspendisse potenti. 
						li 
							.row
								h4.col-xs-12.col-sm-5 About Youly
								p.col-xs-12.col-sm-7
									| Ut erat quam, commodo eu ullamcorper sed, congue sit amet nisi. Maecenas a scelerisque lorem. 
									| Phasellus quam velit, tempor id est id, cursus vehicula justo. Curabitur tortor arcu, egestas 
									| sed neque ut, suscipit dapibus ligula. Cras laoreet sodales magna, nec tincidunt velit porttitor 
									| vitae. Suspendisse venenatis sapien mi, tristique pellentesque ligula aliquet a. Aliquam sed mi 
									| libero. Ut bibendum sem nec mauris iaculis, eget varius sapien lobortis. Nam vel ultricies 
									| lacus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus rhoncus varius porttitor. 
									| Praesent diam nibh, bibendum nec tincidunt eget, sagittis ut urna. Fusce rhoncus, dolor sit amet 
									| sodales suscipit, risus est dapibus libero, sit amet imperdiet lacus augue non nisl. Interdum et 
									|malesuada fames ac ante ipsum primis in faucibus.
						li 
							.row
								h4.col-xs-12.col-sm-5 Using our services
								p.col-xs-12.col-sm-7
									| Donec tristique leo in ipsum semper, a ultricies mauris fermentum. Pellentesque aliquet 
									| nisi quis blandit convallis. Integer euismod massa at iaculis commodo. Vivamus eleifend bibendum 
									| lacinia. Sed consequat nec felis id fermentum. Class aptent taciti sociosqu ad litora torquent 
									| per conubia nostra, per inceptos himenaeos. Donec a enim aliquam, molestie nunc pulvinar, 
									| malesuada dolor. Maecenas magna urna, ornare at laoreet vitae, pellentesque ac libero. 
									| Suspendisse potenti. Pellentesque quis velit ipsum. Sed tincidunt metus enim, et pellentesque 
									| ipsum varius vel. Proin vel felis purus. Proin non nibh nulla. Pellentesque eu quam lectus. 
									| Fusce urna ipsum, tempor vitae elit a, tempor eleifend lorem.
						li 
							.row
								h4.col-xs-12.col-sm-5 Using our services
								p.col-xs-12.col-sm-7
									| Donec tristique leo in ipsum semper, a ultricies mauris fermentum. Pellentesque aliquet 
									| nisi quis blandit convallis. Integer euismod massa at iaculis commodo. Vivamus eleifend bibendum 
									| per conubia nostra, per inceptos himenaeos. Donec a enim aliquam, molestie nunc pulvinar, 
									| malesuada dolor. Maecenas magna urna, ornare at laoreet vitae, pellentesque ac libero. 
									| Suspendisse potenti. Pellentesque quis velit ipsum. Sed tincidunt metus enim, et pellentesque 
									| ipsum varius vel. Proin vel felis purus. Proin non nibh nulla. Pellentesque eu quam lectus. 
									| Fusce urna ipsum, tempor vitae elit a, tempor eleifend lorem.
						li 
							.row
								h4.col-xs-12.col-sm-5 Intellectual property
								p.col-xs-12.col-sm-7
									| Nulla accumsan fermentum lacus, sit amet facilisis erat lacinia sed. Nulla euismod turpis dolor, a 
									| tempor ligula dignissim vitae. Quisque ipsum turpis, sodales quis gravida sed, malesuada eget elit. 
									| Morbi vehicula faucibus dolor, facilisis tincidunt diam porta eget. Vivamus ultricies turpis non lorem 
									| suscipit venenatis. Donec imperdiet odio diam, id aliquet odio scelerisque at. Quisque quis massa eget mi 
									| consectetur molestie in id tellus. Aenean tempus augue nulla, at feugiat augue placerat ac. Nulla lobortis 
									| quis nibh non ultricies. Quisque sit amet lorem orci. Donec rhoncus neque urna, nec gravida massa sagittis ac. 
									br
									br
									| Curabitur congue lectus ac augue lobortis, at vulputate ligula elementum. Sed volutpat sem at libero 
									| dignissim placerat. Vestibulum pellentesque quam a neque scelerisque facilisis. 
		include nav_buttom
		include footer
		include script