	.clear {
    clear: both;
    height: 25px;
}
.download-btn {
    display: block;
    -moz-transition: box	-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 12px;
    padding-left: 80px;
    width: 23	0px;
    position: relative;
    top: -32px;
    margin-left: auto;
    margin-right: auto;
    transition: box-shadow 0.3s ease-in-out;
    -webkit-transition: box-shadow 0.3s ease-in-out;
}

.btn-text h3 {
	padding-top: 12px;
	margin-top: 0px;
}
#android-btn { background: #7b9315; }

#android-btn:hover { background: #a2c437; }

#app-btn { background: #2c4374; }

#app-btn:hover { background: #4969ac; }

#itune-btn { background: #0092ca; }

#itune-btn:hover { background: #00aced; }

#window-btn { background: #666666; }

#window-btn:hover { background: #999999; }


.btn-text {
    color: #fff;
    font-size: 18px;
    font-weight: light;
    line-height: 20px;
    margin-top: 7px;
}
.download-btn > small {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}

.a-btn-icon {
    background: url(../img/icons/window.png) no-repeat 1px -4px;
    height: 48px;
    left: 20px;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    width: 40px;
}

.b-btn-icon {
    background: url(../img/icons/app.png) no-repeat 1px -4px;
    height: 48px;
    left: 20px;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    width: 40px;
}

.c-btn-icon {
    background: url(../img/icons/apple.png) no-repeat 1px 0px;
    height: 48px;
    left: 20px;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    width: 40px;
}

.d-btn-icon {
    background: url(../img/icons/and.png) no-repeat 1px 0px;
    height: 48px;
    left: 20px;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    width: 40px;
}

.rounded {
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

.slide-down-icon {
    background: url(../images/arrow_down.png) no-repeat top left;
    height: 55px;
    left: 35px;
    position: absolute;
    top: -60px;
    width: 60px;
}

.download-btn:hover {
    text-decoration: none;
}

.download-btn:hover .a-btn-icon {
    opacity: 0;
}
.download-btn:hover .b-btn-icon {
    opacity: 0;
}
.download-btn:hover .c-btn-icon {
    opacity: 0;
}
.download-btn:hover .d-btn-icon {
    opacity: 0;
}
.download-btn:hover .slide-down-icon {
    animation: slideDown 0.9s linear infinite;
    -moz-animation: slideDown 0.9s linear infinite;
    -webkit-animation: slideDown 0.9s linear infinite;
}
@keyframes slideDown{
    0% { top: -30px; }
    100% { top: 80px;}
}
@-webkit-keyframes slideDown{
    0% { top: -30px; }
    100% { top: 80px;}
}
@-moz-keyframes slideDown{
    0% { top: -30px; }
    100% { top: 80px;}
}