doctype html
html(lang="en" ng-app='zoidberg')
	head
		title="Zoidberg"
	body
		include header
		script(type='text/javascript' src='../js/angular.min.js')
		script(type='text/javascript' src='../js/zoidberg/zoidberg.js')
