style span.unread {font-weight: bold}
div.row
	div.col-md-6.col-sm-8.clearfix
		ul.user-info.pull-left.pull-none-xsm
			li.profile-info.dropdown
				a.dropdown-toggle(href="#" data-toggle="dropdown")
					img.img-circle(src=user.img width="44")
					span= user.name
				ul.dropdown-menu
					li.caret
					li
						a(href="#")
							i.entypo-user
							span Edit Profile
					li
						a(href="#")
							i.entypo-mail
							span Inbox
					li
						a(href="#")
							i.entypo-calendar
							span Calendar
					li
						a(href="#")
							i.entypo-clipboard
							span Tasks

		ul.user-info.pull-left.pull-right-xs.pull-none-xsm(ng-controller="UserCtrl")
			li.notifications.dropdown(ng-cloak)
				a.dropdown-toggle(href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true")
					i.entypo-attention
					span.badge.badge-info(ng-show="GetNewNotifications().length") {{GetNewNotifications().length}}
				ul.dropdown-menu
					li.top
						p.small
							a.pull-right(href="#") Mark all Read
							span You have {{GetNewNotifications().length}} new messages
					li
						ul.dropdown-menu-list.scroller
							li.notification-info(ng-repeat="notif in GetNotifications()" ng-class="{unread: !notif.read}" ng-click="Read(notif)")
								a(href="#")
									i.entypo-info.pull-right
									span.line(ng-class="{unread: !notif.read}") {{notif.msg}}
									span.line.small {{notif.date}}

	div.col-md-6.col-sm-4.clearfix.hidden-xs
		ul.list-inline.links-list.pull-right
			li
				a(href="#")
					span Log Out
					i.entypo-logout.right
hr
zoid-breadcrumbs
