style.
	label { margin-top: 5px; }
.panel.panel-dark
	.panel-heading
		.panel-title
			| Edit Product
	.panel-body
		.row
			.col-sm-6.col-md-3.col-xs-12
				label
					b Barcode
				input.form-control(type="text", placeholder="7.310525.701416",
				value="{{p_edit.barcode}}")
			.col-sm-6.col-md-3.col-xs-12
				label
					b Product Name
				input.form-control(type="text", placeholder="Remi", value="{{p_edit.name}}")
			.col-sm-6.col-md-3.col-xs-12
				label
					b Brand Name
				input.form-control(type="text", placeholder="Göteborgs", value="{{p_edit.brand_name}}")
			.col-sm-6.col-md-3.col-xs-12
				label
					b Brand Owner
				input.form-control(type="text", placeholder="Orkla Confectionery & Snacks Sverige AB",
				value="{{p_edit.brand_owner}}")
		.row
			.col-md-6.col-xs-12
				label
					b Additional Description
				input.form-control(type="text", placeholder="", value="{{p_edit.add_desc}}")
			.col-md-6.col-xs-12
				label
					b Category
				input.form-control(type="text", placeholder="Snacks > Biscuit > Chocolade",	value="{{p_edit.category}}")
		.row
			.col-sm-4.col-xs-12
				label
					b Product Image
				.panel.panel-info
					.panel-heading
						.panel-title
							| "Chosen img file name"
					.panel-body
						| Vand, Sukker, Druesukker:4%, E330, kuldioxid, salt, koffein:0,032%, E211, E339, E500, E331, E501, quinin, E133
			.col-sm-8.col-xs-12
				.row
					.col-sm-3
						label
							b Size
						input.form-control(type="text", placeholder="20")
					.col-sm-3
						label
							b Unit
						select.form-control
							option All
							option Liter
							option Deceliters
							option Centiliters
							option Milliliters
							option Kilo Grams
							option Grams
				.row
					.col-xs-12
						hr
				.row
					.col-sm-2
						label
							b Nutritions per
						input.form-control(type="text", value="100")
					.col-sm-3
						label
							b Unit 
						select.form-control
							option Undefined
							option Liter
							option Deceliters
							option Centiliters
							option Milliliters
							option Kilo Grams
							option Grams
					.col-sm-2
						label
							b KJ
						input.form-control(type="text", placeholder="20")
					.col-sm-2
						label
							b Kcal
						input.form-control(type="text", placeholder="20")
					.col-sm-3
						label
							b Protein
						input.form-control(type="text", placeholder="")
				.row
					.col-sm-3
						label
							b Fat
						input.form-control(type="text", placeholder="")
					.col-sm-3
						label
							b Carbohydrate
						input.form-control(type="text", placeholder="")
					.col-sm-3
						label
							b Sodium
						input.form-control(type="text", placeholder="")
					.col-sm-3
						label
							b Natrium
						input.form-control(type="text", placeholder="")
				.row
					.col-sm-3
						label
							b Cholesterol
						input.form-control(type="text", placeholder="")
					.col-sm-3
						label
							b Potassium
						input.form-control(type="text", placeholder="")
		.row
			.col-xs-12
				hr
		.row
			.col-sm-3
				label
					b Ingredients
				input.form-control(type="text", placeholder="")
				.panel.panel-default
					.panel-body
						| &nbsp;
			.col-sm-3
				label
					b Vitamins
				input.form-control(type="text", placeholder="")
				.panel.panel-default
					.panel-body
						| &nbsp;
			.col-sm-3
				label
					b Minerals
				input.form-control(type="text", placeholder="")
				.panel.panel-default
					.panel-body
						| &nbsp;
			.col-sm-3
				.row
					.col-xs-12
						label
							b &nbsp;
					.col-xs-12
						button.btn.btn-green Submit Product