style.
	label { margin-top: 5px; }
.panel.panel-dark
	.panel-heading
		.panel-title
			| New Product
	.panel-body
		.row
			.col-sm-6.col-md-3.col-xs-12
				label
					b Barcode
				input.form-control(type="text", placeholder="7.310525.701416")
			.col-sm-6.col-md-3.col-xs-12
				label
					b Product Name
				input.form-control(type="text", placeholder="Remi")
			.col-sm-6.col-md-3.col-xs-12
				label
					b Brand Name
				input.form-control(type="text", placeholder="Göteborgs")
			.col-sm-6.col-md-3.col-xs-12
				label
					b Brand Owner
				input.form-control(type="text", placeholder="Orkla Confectionery & Snacks Sverige AB")
		.row
			.col-md-6.col-xs-12
				label
					b Additional Description
				input.form-control(type="text", placeholder="")
			.col-md-6.col-xs-12
				label
					b Category
				input.form-control(type="text", placeholder="Snacks > Biscuit > Chocolade")
		.row
			.col-sm-4.col-xs-12
				label
					b Product Image
				.panel.panel-info
					.panel-heading
						.panel-title
							| Image Selection
					.panel-body
						| Yes!
			.col-sm-8.col-xs-12
				.row
					.col-sm-3
						label
							b Size
						input.form-control(type="text", placeholder="20")
					.col-sm-3
						label
							b Unit
						select.form-control
							option All
							option Liter
							option Deceliters
							option Centiliters
							option Milliliters
							option Kilo Grams
							option Grams
					.col-sm-3
						label
							b Kcal
						input.form-control(type="text", placeholder="20")
					.col-sm-3
						label
							b KJ
						input.form-control(type="text", placeholder="20")