.dataTables_wrapper.form-inline(role="grid")
	table#table-products.table.table-bordered.datatable
		thead
			tr
				th Barcode
				th Brand
				th Product
				th Brand Owner
				th Category
				th Img
				th Size
				th Unit
				th Edit
		tbody
			tr
				th 5701000138076
				th Faxe Kondi
				th Booster Blue
				th Royal Unibrew
				th Drinks &#47; energy
				th
					a.entypo-camera
				th 50
				th cl
				th
					a.entypo-pencil