style.
	label { margin-top: 5px; }
.panel.panel-dark
	.panel-heading
		.panel-title
			| New Product
	.panel-body
		.row
			.col-sm-6.col-md-3.col-xs-12
				label
					b Barcode
				input.form-control(type="text", placeholder="7.310525.701416")
			.col-sm-6.col-md-3.col-xs-12
				label
					b Product Name
				input.form-control(type="text", placeholder="Remi")
			.col-sm-6.col-md-3.col-xs-12
				label
					b Brand Name
				input.form-control(type="text", placeholder="Göteborgs")
			.col-sm-6.col-md-3.col-xs-12
				label
					b Brand Owner
				input.form-control(type="text", placeholder="Orkla Confectionery & Snacks Sverige AB")
		.row
			.col-md-6.col-xs-12
				label
					b Additional Description
				input.form-control(type="text", placeholder="")
			.col-md-6.col-xs-12
				label
					b Category
				input.form-control(type="text", placeholder="Snacks > Biscuit > Chocolade")
