div.sidebar-menu
	header.logo-env
		div.logo
			a(href="#")
				img(src="/images/neon/logo@2x.png" width="120")
		div.sidebar-collapse
			a.sidebar-collapse-icon.with-animation(href="#")
				i.entypo-menu
		div.sidebar-mobile-menu.visible-xs
			a.with-animation(href="#")
				i.entypo-menu
	ul#main-menu
		li#search
			form
				input.search-input
				button(type="submit")
					i.entypo-search
		li
			a(ui-sref="home")
				i.entypo-gauge
				span Dashboard
			a(ui-sref="blogs.list")
				i.entypo-doc-text
				span Blogs
			a(ui-sref="products")
				i.entypo-thermometer
				span Ingredients
