div.sidebar-menu
	header.logo-env
		div.logo
			a(href="#")
				img(src="/img/branding/youly_text_white_shadow_zoidberg.png", width="90px", height="auto")
		div.sidebar-collapse
			a.sidebar-collapse-icon.with-animation(href="#")
				i.entypo-menu
		div.sidebar-mobile-menu.visible-xs
			a.with-animation(href="#")
				i.entypo-menu
	ul#main-menu
		li#search
			form
				input.search-input
				button(type="submit")
					i.entypo-search
		li
			a(ui-sref="home")
				i.entypo-home
				span Dashboard
		li
			a(ui-sref="blogs.list")
				i.entypo-doc-text
				span Blogs
		li
			a(ui-sref="products.list")
				i.entypo-database
				span Products
			ul
				li
					a(ui-sref="category")
						i.entypo-flow-tree
						span Category Tree
				li
					a(href="#") 
						i.entypo-leaf
						span Agriculture