.col-xs-12.col-sm-3
	h3.tab-content_h3-r
		img.center-block(src="img/icons/flatUI.png")
.col-xs-12.col-sm-5
	h3.tab-content_h3-r
		| From the very beginning, our primary goal was to help people with allergies and food intolerance, and it is still our main focus area. Youly has just opened up for a lot more!
	h3.tab-content_h3-r
		| Either by scanning a barcodes, manually searching for products or browsing through our food recipes. We will try our best to find what fits you best!