.col-xs-12.col-sm-3
	h3.tab-content_h3
		img.center-block(src="img/icons/flatUI.png")
.col-xs-12.col-sm-5
	h3.tab-content_h3
		| Organize your kitchen, recipes, food and more with Youly assistant
	h3.tab-content_h3
		| When shopping, you can type the expiration date of a product, 
		| and Youly will notify you before it's expiration. 
	h3.tab-content_h3
		| Youly can also automatically find a recipes that uses your expiring product