.col-xs-12.col-sm-5
	h3.tab-content_h3
		| You can always manually search for for your favorite products, or you might wan't to explore new ways of cooking with variated food.
	h3.tab-content_h3
		| Our database list products up by both category and tags, which makes it easy for you to find the right product or an alternative.
.col-xs-12.col-sm-3
	h3.tab-content_h3
		img.center-block(src="img/icons/flatUI.png")